<h2 class="page-header">Edit Author</h2>
<form action="/authors/<%= author.id %>?_method=PUT" method="POST">
  <%- include('_form_fields') %>
  <a href="/authors/<%= author.id %>">Cancel</a>
  <button type="submit">Update</button>
</form>